* {
  box-sizing: border-box;
}

body{
  font-family: "Times New Roman", Monospaced, serif;
  background: #abdde5;
}

.portfolioText{
  text-align: center;
  font-weight: bold;
}


.rowTwo {
  margin-top: 30px;
  margin-left: 60px;
  border: 5px solid black;
}

.rowOne {
  margin-bottom: 30px;
  margin-left: 60px;
  border: 5px solid black;
}

.dogGie{
  border:white solid 40px;
}

.rowTwo .rowOne{
  border: 10px solid black;
  margin: 30px;
}

.col-sm-12{
  border: 10px solid black;
  margin: 30px;
}